.page-content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  overflow: hidden;
  padding: 5rem 2rem 0 2rem; /* Ajuste del padding */
  position: relative;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
}

.img {
  width: 50%;
  padding-left: 5rem;
}

.text {
  width: 50%;
  position: relative;
  padding-top: 10vh;
}

.foto {
  width: 30rem;
  top: 0;
  left: 8rem;
  z-index: 1;
  /* margin-bottom: 2rem; */
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.text h1 {
  font-size: 100px;
  color: #fff;
  text-align: center;
}

.text h2 {
  font-size: 50px;
  font-weight: 500;
  color: #cf5b45;
  text-align: center;
}
.text p{
  width: 80%;
  color: #fefefe;
  margin: auto;
  padding-bottom: 1rem;
  text-transform: initial;
}

.design{
  width: 40vw;
  position: absolute;
  top: -2.5rem;
  left: 55vw;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button-cv {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.button-cv::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background-color: #212121;
  transition: 0.3s ease-in-out;
  transform: scaleY(1);
}

.button-cv:hover::before {
  transform: scaleY(0);
}

.button-cv::after {
  content: '';
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: #212121;
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

.button-cv:hover::after {
  transform: scaleX(0);
}

.button-cv span {
  position: relative;
  z-index: 1;
  color: #fefefe;
}

button {
  background-color: none;
  text-decoration: none;
  background-color: #212121;
  border: none;
}

.button-icon {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  text-decoration: none;
}

.button-icon .button-github {
  text-decoration: none;
}

.icon {
  background-color: #fff;
  padding: 10px 10px 5px 10px;
}

.icon svg {
  width: 25px;
  height: 25px;
}

.cube {
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: 200px;
  height: 20px;
}

.button-icon:hover {
  border-color: #cf5b45;
}

.button-icon:hover .cube {
  transform: rotateX(90deg);
}

.side {
  position: absolute;
  height: 47px;
  width: 200px;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.top {
  background: #cf5b45;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
  background: #222229;
  color: #fff;
  transform: translate3d(0, 0, 1em);
}

.button-github {
  color: inherit;
  text-decoration: none;
  display: block;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .img {
    width: 100%;
    height: 10%; 
    padding: 0 2rem;
    margin: 0;
  }

  .text {
    width: 100%;
    height: 100%; 
    margin-top: 0; 
  }

  .design{
    width: 80vw;
    left: 3rem;
    top: 37vh;
  }
  .foto {
    width: 90vw;
    margin: auto; 
  }

  .color {
    width: 80vw; 
    height: 20vh; 
    top: -24rem; 
  }

  .color2 {
    display: none;
  }

  .color3 {
    width: 80vw; 
    height: 10vh; 
    top: -19.8rem; 
  }

  .text h1 {
    font-size: 55px;
    white-space: nowrap;
  }

  .text h2 {
    font-size: 30px;
  }

  .buttons {
    flex-direction: column;
    gap: 10px; 
  }

  .button-cv {
    font-size: 19px; 
    padding: 15px 50px; 
  }
}
