.footer-container {
    width: 100%;
    overflow: hidden;
    margin-top: 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box; /* Asegura que el padding y los bordes se incluyan en el ancho total */
    background-color: #cf5c44;
}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box; /* Asegura que el padding y los bordes se incluyan en el ancho total */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
}

.footer-info-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding: 10px 20px; /* Ajusta el padding para que tenga más espacio entre los elementos */
    box-sizing: border-box; /* Asegura que el padding y los bordes se incluyan en el ancho total */
    min-width: 200px; /* Asegura que las columnas tengan un ancho mínimo */
}

.footer-info-col.left-col {
    align-items: flex-start;
}

.footer-info-col.right-col {
    align-items: flex-end;
}

.footer-info-col img {
    width: 100px;
}



/* Ajustes responsivos */
@media (max-width: 768px) {
    .footer-info {
        flex-direction: column; 
        align-items: center; 
    }

    .footer-info-col {
        align-items: center; 
        text-align: left; 
        padding: 15px 0; 
    }

    .footer-info-col.left-col,
    .footer-info-col.right-col {
        align-items: center; 
        padding: 15px 0; 
    }

    .footer-info-col.right-col {
        align-items: center; 
    }
    .footer-info-col a,
    .footer-info-col p
    {
        font-size: 1.2rem;
    }
}
